#include "resource.h"

BG_ID	PNG	BG_FN
IMG_MIDI_ID	PNG	IMG_MIDI_FN
IMG_MIDIBG_ID	PNG	IMG_MIDIBG_FN
IMG_LED_ID	PNG	IMG_LED_FN
IMG_KNOB1_ID	PNG	IMG_KNOB1_FN
IMG_KNOB2_ID	PNG	IMG_KNOB2_FN
IMG_HELPICON_ID	PNG	IMG_HELPICON_FN
IMG_HELPDESC_ID	PNG	IMG_HELPDESC_FN
